#presentation {
  @apply flex items-center justify-center mt-40 mx-auto w-4/5 h-[50vh];
}

#presentation-box, .ilustration-box {
  @apply h-72 flex items-center;
}

#presentation-box {
  background: rgba(38,38,38,0);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  @apply w-1/2 h-80 flex flex-col justify-center p-8 rounded-xl border-[1px] border-neutral-800 shadow-sm shadow-neutral-900;
}

.text-header {
  @apply w-full;
}

.text-header h1 {
  @apply text-5xl text-emerald-500;
}

.text-header label {
  @apply text-xl text-neutral-600 font-semibold;
}

.text-body {
  @apply w-full text-lg text-neutral-400;
}

.text-body p {
  @apply w-4/5;
}

.ilustration-box {
  @apply w-3/12 h-80 ml-4 flex-col text-neutral-600 p-5 rounded-xl border border-neutral-800 shadow-sm shadow-neutral-900;
}

.image-box {
  @apply h-full w-full bg-neutral-600 rounded;
}

.links-box {
  @apply flex justify-start items-center w-full mt-8;
}

.links-box li {
  @apply flex flex-col items-center mr-3 hover:animate-bounce;
}

.links-box svg {
  @apply mx-auto border-2 border-neutral-400 rounded-full p-1 hover:border-emerald-500;
}

#career-text::after {
  @apply ml-1 opacity-10 text-emerald-500;
  content: '|';
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
