#certifications {
  @apply
    min-h-[85vh]
    bg-black
    mt-12
    p-11
    flex
    flex-col
    gap-24
    justify-center
    items-center
    lg:px-0
  ;
}

#certifications h1 {
  @apply
    w-full
    text-4xl
    text-center
    text-emerald-500
    font-semibold
    lg:mb-10
    sm:text-3xl
    xsm:text-2xl
  ;
}

#certifications-box {
  @apply
    w-11/12
    flex
    justify-center
    items-center
    gap-10
    lg:flex-wrap
    lg:gap-5
    xsm:w-full
    xsm:flex-col
    xsm:gap-5
  ;
}
