#learnings {
  @apply
  bg-neutral-900
    mt-12
    h-[110vh]
    w-full
    p-11
    flex
    flex-col
    gap-10
    justify-center
    items-center
    xl:h-[130vh]
    lg:h-[180vh]
    2xsm:p-1
  ;
}

#learnings h1 {
  text-shadow: 0 0 3px black;

  @apply
    w-full
    mt-10
    text-4xl
    text-center
    text-emerald-500
    font-semibold
    sm:text-3xl
    xsm:text-2xl
  ;
}

#learnings-box {
  @apply
  w-full
  flex
  items-center
  justify-center;
}

.learnings-content {
  @apply
  w-full
  py-10
  flex
  flex-wrap
  gap-4
  items-start
  justify-center
  border-y-2
  border-neutral-800
}
